.container-top-margin{
    margin-top: 100px;
}
.textbox-custom{
    //height: 50px;
}
.remove-topbar{
    .modal-header {
      display:none ;}
}
.remove-color{
    .mx-scrollcontainer-horizontal{
        background-color: rgb(245, 245, 245);
    }
}